/* ! -------------------------------------------- медиа-запрос для ПК --------------------------------------- */

@media screen and (min-width: 1001px) and (max-width: 2560px) {
    /* ? start: header */

    /* ? end: header */

    /* ? start: main */

    /* ? end: main */

    /* ? start: footer */

    /* ? end: footer */

    /* ? start: gallery */

    /* ? end: gallery */

    /* ? start: login */

    /* ? end: login */

    /* ? start: registration */

    /* ? end: registration */
}

/* ! -------------------------------------------- медиа-запрос для планшетов --------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1000px) {

    /* общий стиль */
    * {
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        font-size: 16px;
    }

    /* ? start: header */

    /* контейнер уведомлений */
    .notification-container {
        right: 25%;
    }

    /* анимации для бургер-меню */
    .burger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* элементы в верхнем блоке */
    #head blockquote,
    #head p,
    #head button {
        position: relative;
        z-index: 1;
    }

    /* контейнер уведомлений при наведении */
    .notification-container:hover {
        right: 13%;
    }

    /* кнопка уведомлений */
    #notification {
        width: 40px;
        height: 40px;
    }

    /* иконка уведомлений */
    #notification .icon {
        font-size: 20px;
    }

    /* количество уведомлений */
    #notification .badge {
        font-size: 11px;
    }

    /* кнопка уведомлений при наведении */
    .notification-container:hover #notification {
        width: 180px;
    }

    /* количество уведомлений при наведении */
    .notification-container:hover #notification .badge {
        top: 13px;
        right: 10px;
        transform: none;
    }

    /* список уведомлений */
    .notification-list {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #3f3d56;
        position: absolute;
        top: 55px;
        right: 0;
        width: 180px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 8px 8px;
        z-index: 20;
    }

    /* список уведомлений при наведении */
    .notification-container:hover .notification-list {
        display: block;
    }

    /* элемент списка уведомлений */
    .notification-list li {
        padding: 10px;
        font-size: 14px;
        color: #EDF2F4;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
    }

    /* стили для бургер-меню */
    .burger-menu {
        display: block;
    }

    /* навигация */
    .header-nav {
        display: none;
        position: fixed;
        top: 95px;
        right: -100%;
        left: 0%;
        width: 250px;
        height: calc(100% - 80px);
        background-color: #1f2030E5;
        flex-direction: column;
        padding: 20px;
        z-index: 99;
    }

    /* навигация при активном бургер-меню */
    .header-nav.active {
        display: flex;
        position: absolute;
        width: 100%;
        height: 510%;
        border-radius: 40px;
    }

    /* ссылки на страницы */
    .header-nav a,
    .header-nav button {
        margin: 10px 0;
    }

    /* анимации для бургер-меню */
    .burger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* ----- стили для галереи ----- */
    .gallery {
        gap: 1rem;
    }

    /* элементы галереи */
    .gallery-item {
        flex: 1 1 250px;
    }

    /* изображения элементов галереи */
    .gallery-item img {
        height: 250px;
    }

    /* контейнер галереи */
    .gallery-container {
        padding: 1rem;
    }

    /* заголовок в галерее */
    .gallery-item img {
        height: 200px;
    }

    /* гифка в галерее */
    .gallery-gif {
        left: -27%;
    }

    /* гифка в галерее при наведении */
    .gallery-gif:hover img {
        transform: scale(1.05);
    }

    /* заголовок у гифки */
    .gallery-gif-info h3 {
        font-size: 1.2rem;
    }

    /* текст у гифки */
    .gallery-gif-info p {
        font-size: 15px;
    }

    /* стили для мобильного меню */
    .burger-menu {
        display: block;
    }

    /* фото старого автосалона */
    #old {
        height: 100px;
    }

    /* видео */
    #video {
        width: 70%;
        height: 70%;
    }

    /* цитата в верхнем блоке */
    h1 {
        font-size: 18px;
    }

    /* заголовки */
    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    /* основной блок */
    body {
        height: auto;
    }

    /* верхний блок */
    #head {
        height: 300px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    /* подпись в верхнем блоке */
    #head p {
        width: 200px;
    }

    /* кнопка перехода на главную */
    #site {
        margin-left: -20px;
    }

    /* ссылки на страницы в навигации */
    .header-nav a {
        margin: 15px 0;
        font-size: 18px;
        width: 40%;
        border-radius: 7px;
        text-align: center;
        background-color: #EF233C;
    }

    /* кнопки в навигации */
    .header-nav button {
        margin: 10px 0;
        width: 40%;
    }

    /* header */
    .header {
        padding: 10px 20px;
    }

    /* логотип */
    .logo {
        font-size: 24px;
    }

    /* основной контент */
    main {
        height: 2000px;
    }

    /* footer */
    footer {
        padding: 20px;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: auto;
    }

    /* элементы в ФОС */
    #feedback select,
    #feedback fieldset,
    .input1,
    .combo,
    .inputarea,
    .container2 {
        width: 100%;
    }

    /* контейнер новостей */
    .news-container {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin-left: -20px;
        height: 20%;
        overflow: hidden;
    }

    .box {
        margin-top: 70px;
    }

    /* ? end: header */

    /* ? start: main */

    /* ? end: main */

    /* ? start: footer */

    /* ? end: footer */

    /* ? start: gallery */

    /* ? end: gallery */

    /* ? start: login */

    /* ? end: login */

    /* ? start: registration */

    /* ? end: registration */
}

/* ! -------------------------------------------- медиа-запрос для телефонов --------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 768px) {

    /* общий стиль */
    * {
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        font-size: 14px;
    }

    /* ? start: header */
    header {
        display: grid;
        grid-template-rows: [r1] auto [r2];
        grid-template-columns: [c1] 50px [c2] 2fr [c3] 50px [c4];
    }

    /* header */
    header {
        font-size: 16px;
    }

    header button {
        margin: 0;
        padding: 0;
    }

    /* *----- логотип ----- */

    #sitecont {
        width: 50px;
        height: 50px;
    }

    #site {
        width: 50px;
        height: 50px;
        margin: 0;
    }

    #site img {
        width: 50px;
        height: 50px;
    }

    /* *----- уведомления ----- */

    .notification-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: block;
        margin: 10px 0;
    }

    /* кнопка уведомлений */
    #notification {
        width: 40px;
        height: 40px;
    }

    /* иконка уведомлений */
    #notification .icon {
        font-size: 20px;
    }

    /* количество уведомлений */
    #notification .badge {
        font-size: 11px;
    }

    /* кнопка уведомлений при наведении */
    .notification-container:hover #notification {
        width: 135px;
        height: 40px;
    }

    /* количество уведомлений при наведении */
    .notification-container:hover #notification .badge {
        top: 10px;
        right: 10px;
        transform: none;
    }

    /* список уведомлений */
    .notification-list {
        display: none;
        top: auto;
        right: auto;
        width: 135px;
        position: absolute;
    }

    /* список уведомлений при наведении */
    .notification-container:hover .notification-list {
        display: block;
    }

    /* элемент списка уведомлений */
    .notification-list li a {
        font-size: 11px;
    }


    /* *----- бургер-меню ----- */

    /* бургер-меню */
    .burger-menu {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: block;
    }

    /* анимации для бургер-меню */
    .burger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* *----- навигация в бургер-меню ----- */

    /* навигация */
    .header-nav {
        display: none;
        position: fixed;
        top: 65px;
        width: auto;
        background-color: #1f2030E5;
        flex-direction: column;
        padding: 20px;
        z-index: 99;
    }

    /* навигация при активном бургер-меню */
    .header-nav.active {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: row;
        place-items: center;
        position: absolute;
        height: auto;
        right: 0;
        width: auto;
        border-radius: 40px;
    }

    /* ссылки на страницы в навигации */
    .header-nav a {
        font-size: 15px;
        width: 100%;
        background-color: #EF233C;
    }

    /* кнопки в навигации */
    .header-nav button {
        font-size: 15px;
        width: 100%;
        padding: 0 10px;
    }

    #catalog {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #cart {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #favourite {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    #orders {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    #gallery {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    #log {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    /* ? end: header */

    /* ? start: main */
    body {
        font-size: 12px;
    }

    main {
        width: auto;
    }

    .block {
        width: 100%
    }

    /* стиль для секций main */

    main section {
        font-size: 18px;
    }

    /* ? ---------------- начало стиля для верхнего блока ---------------- */

    /* стиль для заголовка h1 */
    #head h1 {
        font-size: 16px;
        font-weight: bold;
    }

    /* элементы в верхнем блоке */
    #head blockquote,
    #head p,
    #head button {
        position: relative;
        z-index: 1;
        padding: 0 20px;
    }

    /* автор цитаты в верхнем блоке */
    #head cite {
        font-size: 14px;
    }

    /* фоновая картинка */
    #bg {
        height: 300px;
    }

    /* кнопка скачивания */
    #head button {
        font-size: 14px;
        width: 50%;
        height: 50%;
    }

    /* подпись в верхнем блоке */
    #head p {
        font-size: 14px;
    }

    #head button {
        height: 30px;
    }

    /* ? ---------------- конец стиля для верхнего блока ---------------- */

    /* ? ---------------- начало стиля для карточек со ссылками ---------------- */

    /* контейнер карточек со ссылками на другие страницы */
    #link_cards {
        display: grid;
        grid-template-columns: [c1] auto [c2];
        grid-template-rows: [r1] auto [r2] auto [r3] auto [r4] auto [r5];
        place-items: center;
        row-gap: 30px;
        padding: 30px;
    }

    .box {
        width: 200px;
        height: 340px;
    }

    .box .content {
        width: 240px;
        height: 290px;
        padding: 10px;
        row-gap: 10px;
    }

    .box h2 {
        font-size: 30px;
    }

    .buttons_link {
        font-size: 14px;
        height: 35px;
        width: 200px;
    }

    /* карточки производителей */

    /* общий стиль для карточек */
    .maker_card {
        margin-top: 20px;
    }

    /* карточки финансовых */

    /* общий стиль для карточек */
    .fin_card {
        margin-top: 20px;
    }

    /* ? ---------------- конец стиля для карточек со ссылками ---------------- */

    /* ? ---------------- начало стиля для истории ---------------- */

    /* стиль для изображения старого автосалона */
    #old {
        height: 100px;
    }

    /* ? ---------------- конец стиля для истории ---------------- */

    /* стиль для видео */
    #video {
        width: 100%;
        height: 100%;
    }

    /* ? ---------------- начало стиля для партнёров ---------------- */


    /* ----- карточки партнёров ----- */

    .partner_cards {
        display: grid;
        grid-template-columns: [c1] auto [c2];
        grid-template-rows: [r1] auto [r2] auto [r3] auto [r4];
        row-gap: 50px;
    }

    /* ? ---------------- конец стиля для партнёров ---------------- */

    /* ? ---------------- начало стиля для новостей ---------------- */


    /* новость */
    .new {
        padding: 5px;
    }

    /* изображение новости */
    .new .content img {
        border-radius: 10px;
        width: auto;
        height: auto;
    }

    .news-list {
        padding: 0;
    }


    /* ? end: main */

    /* ? start: footer */
    .ftr {
        grid-template-rows: [r1] auto [r2] auto [r3] auto [r4] auto [r5] auto [r6] auto [r7] auto [r8] auto [r9];
        grid-template-columns: [c1] auto [c2];
        grid-template-areas: none;
        gap: 20px;
        place-items: center;
    }

    footer p,
    footer a {
        font-size: 12px;
    }

    .ftr h3 {
        font-size: 25px;
        margin: 0;
    }

    #qui {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .quick_links {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border: none;
    }

    #cont {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #contacts {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        border: none;
    }

    hr {
        width: 100%;
    }

    #soc {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    /* контейнер для кнопок соц.сетей */
    .social_buttons_container {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        gap: 10px;
    }

    /* иконка в кнопке */
    .social_buttons img {
        height: 30px;
    }

    #feedback {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    /* поле в ФОС */
    #feedback fieldset {
        display: grid;
        grid-template-columns: [c1] auto [c2];
        grid-template-rows: [r1] auto [r2] auto [r3] auto [r4] auto [r5] auto [r6] auto [r7] auto [r8] auto [r9]auto [r10] auto [r11];
    }

    #feedback fieldset input {
        width: 100%;
    }

    /* стиль для карты */
    .map {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
        width: 100%;
    }

    #L1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    /* select в ФОС */
    #feedback select {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    /* элементы в select */
    #feedback select option {
        background-color: var(--third-color);
        color: var(--text-color);
    }

    #L2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #name {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #L3 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #phone {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    #L4 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    #mail {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    #L5 {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }

    #que {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }

    #L6 {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
    }

    #message {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    }

    .container2 {
        grid-row: 13 / 14;
        grid-column: 1 / 2;
    }

    .container2 input {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .container2 span {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #send {
        grid-row: 14 / 15;
        grid-column: 1 / 2;
    }

    /* ? end: footer */

    /* ? start: gallery */
    /* гифка в галерее */
    .gallery-gif {
        left: 0%;
    }

    /* ? end: gallery */

    /* ? start: login */
    /* расположение левого квадрата */
    .login_box #span2::before {
        top: 80px;
        left: -55px;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    /* расположение правого квадрата */
    .login_box #span2:after {
        bottom: 80px;
        right: -55px;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    /* анимация для левого квадрата */
    .login_box:hover #span2::before {
        transform: translateY(160px) translateX(30px);
    }

    /* анимация для правого квадрата */
    .login_box:hover #span2:after {
        transform: translateY(-190px) translateX(-30px);
    }
    /* ? end: login */

    /* ? start: registration */
    /* расположение левого квадрата */
    .reg_box #span2::before {
        top: 80px;
        left: -55px;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    /* расположение правого квадрата */
    .reg_box #span2:after {
        bottom: 80px;
        right: -55px;
        width: 50px;
        height: 50px;
        opacity: 1;
    }

    /* анимация для левого квадрата */
    .reg_box:hover #span2::before {
        transform: translateY(160px) translateX(30px);
    }

    /* анимация для правого квадрата */
    .reg_box:hover #span2:after {
        transform: translateY(-190px) translateX(-30px);
    }
    /* ? end: registration */
}